1. Use a for loop to print numbers from 1 to 5

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [2]:
i=1
while (i<=5):
    print(i)
    i=i+1

1
2
3
4
5

In [3]:
def print_element():
    i=1
    while i<=5:
        print(i)
        i=i+1

print_element()

1
2
3
4
5

In [4]:
def print_element(end):
    for i in range(1,end+1):
        print(i)
        
print_element(4)

1
2
3
4

2. Calculate and print the  squares of numbers from 1 to 5.

In [5]:

for i in range(1,6):
    square=i*i
    i=i+1
    print(square)

1
4
9
16
25

In [6]:
i=1
while i<=5:
    print(i*i)
    i=i+1

1
4
9
16
25

In [7]:
def square_of_num(num):
    square=num*num
    return square
square_of_num(2)

4

In [8]:
def square_of_num(num):
    for i in range(1,num+1):
        print(i**2)

square_of_num(4)

1
4
9
16

In [9]:
square=[ i**2 for i in range(1,6)]
print(square)

[1, 4, 9, 16, 25]

3. Calculate and print the sum of squares of numbers from 1 to 5.

In [10]:
sum_square=0
for i in range(1,6):
    sum_square=sum_square+(i**2)
    i=i+1
print(sum_square)

55

In [11]:
sum_square=0
i=1
while i<=5:
    sum_square=sum_square+(i**2)
    i=i+1
print(sum_square)

55

In [12]:
def sum_square(num):
    square=0
    for i in range(1,num+1):
        square=square+(i**2)
    return square

print(sum_square(5))

55

In [13]:
sum_square=sum([i**2 for i in range(1,6)])
sum_square

55

4 .Write a program that takes a number as input and prints the first 5 multiples of that number using a for loop.

In [14]:
input_user=int(input("Enter Number to get first 5 multiple of that number = "))
print(f"first 5 multiple of {input_user} are, ")
num=1
for num in range(1,6):
    first_5_multiple=input_user*num
    print(f"{input_user} X {num} = {first_5_multiple}")

Enter Number to get first 5 multiple of that number = 4
first 5 multiple of 4 are,
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20

In [15]:
input_user=int(input("Enter Number to get first 5 multiple of that number = "))
i=1
while i<=5:
    first_5_multiple=input_user*i
    print(f"{input_user} X {i} = {first_5_multiple}")
    i=i+1

Enter Number to get first 5 multiple of that number = 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20

In [16]:
def first_5_multiple(num):
    i=1
    while i<=5:
        multiple=num*i
        print(f"{num} X {i} = {multiple}")
        i=i+1
first_5_multiple(4)

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20

5. Take a number as input and use a for loop to print the multiplication table for that number from 1 to 10.

In [17]:
num=int(input("Enter Any Number to know table of that = "))
for i in range(1,11):
    multi_table=num*i
    print(f"{num} X {i} = {multi_table}")

Enter Any Number to know table of that = 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [18]:
num=int(input("Enter Any Number to know table of that = "))
i=1
while i<=10:
    multi_table=num*i
    print(f"{num} X {i} = {multi_table}")
    i=i+1

Enter Any Number to know table of that = 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [19]:
def multiplication_table(num):
    i=1
    while i<=10:
        multi_table=num*i
        print(f"{num} X {i} = {multi_table}")
        i=i+1
multiplication_table(3)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [20]:
multi_table=[ num*i for num in range(1,11) ]
print(f"{num} X {i} = {multi_table}")

4 X 11 = [11, 22, 33, 44, 55, 66, 77, 88, 99, 110]

5. Develop a program that check whether a given number is prime or not.

In [6]:
num=int(input("Enter Any Number to check weather it is prime or not = "))
prime=True
for i in range(2,num):
    if num%i==0:
        prime=False
        break
if (prime==True):
    print(f"{num} is prime number")
else:
    print(f"{num} is not prime number")

Enter Any Number to check weather it is prime or not = 4
4 is not prime number

In [10]:
num=int(input("Enter Any Number to check weather it is prime or not = "))
count=0
i=1
while i<=num:
    if num%i==0:
        count=count+1
    i=i+1
if(count==2):
    print("prime")
else:
    print("not Prime")

Enter Any Number to check weather it is prime or not = 3
prime

In [26]:
def prime_or_not_prime(num):
    prime=True
    for i in range(2,num):
        if num%i==0:
            prime=False
            break
    if prime==True:
        print(f"{num} is prime")
    else:
        print(f"{num} is not prime")
    
prime_or_not_prime(4)

4 is not prime

6. Create a program to find largest element in the list.

In [47]:
given_list=[12,34,56,43,23,24,678,9876,3456,0]
greatest_num=given_list[0]
for num in given_list:
    if num>greatest_num:
        greatest_num=num
print(greatest_num)

9876

In [3]:
def largest_element(my_list):
    given_list=my_list[0]
    for num in my_list:
        if num>given_list:
            given_list=num
    return given_list
my_list=[12,34,2,45,6,23,67,8]
print(largest_element(my_list))

67

In [2]:
def largest_element(my_list):
    list2=[]
    my_list1=my_list[0]
    for num in my_list:
        if num>my_list1:
            my_list1=num
            list2.append(num)
    return list2
my_list=[12,34,34,56,7,8,9,12,445]
print(largest_element(my_list))

[34, 56, 445]

7. Write a Python program to reverse a given string.

In [4]:
string=input("Enter Any string to reverse = ")
for words in string:
    words=string[::-1]
print(words)

Enter Any string to reverse = milyani
inaylim

In [6]:
def reverse_word(string):
    reverse=string[::-1]
    return reverse
print(reverse_word("milyani"))

inaylim

8. Develop a Python program that calculates the sum of all numbers from 1 to 100 .

In [14]:
sum_of_all=0
for i in range(1,101):
    sum_of_all=sum_of_all+i
    i=i+1
print(sum_of_all)

5050

In [33]:
sum_of_all=0
num=1
while num<=100:
    sum_of_all=sum_of_all+num
    num=num+1
print(sum_of_all)

5050

In [49]:
def sum_of_all():
    final_sum=0
    for num in range(1,101):
        final_sum=final_sum+num
        num=num+1
    return final_sum
    
print(sum_of_all())

5050

9. Write a Python program to find the factorial of a number

In [21]:
number=int(input("Enter any number "))
factorial=1
for i in range(1,number+1):
    factorial=factorial*i
    number=number-1
print(factorial)

Enter any number 10
3628800

In [27]:
number=int(input("Enter any number "))
factorial=1
while (number>=1):
    factorial=factorial*number
    number=number-1
print(factorial)

Enter any number 10
3628800

In [35]:
def factorial(num):
    factorial=1
    while (num>=1):
        factorial=factorial*num
        num=num-1
    print(factorial)
        
factorial(10)

3628800